.walletModal {
    
  .walletWrap {
    margin: 0 auto;

    .item {
      &.item{
        margin-top: 12px;
      }
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 340px;
      height: 100px;
      background-color: #302d8c;
      border-radius: 8px;
      .icon {
        width: 48px;
        height: 48px;
        margin-right: 8px;
      }
      font-size: 18px;
      font-weight: 500;
    }
  }
}
