.homePage3 {
  min-height: 90vh;
  position: relative;
  background: linear-gradient(180deg, #000000 2%, #02042b 100%);
  overflow: hidden;
  .bg1 {
    position: absolute;
    bottom: -800px;
  }

  .bg3 {
    position: absolute;

    width: 1928px;
    height: 293px;
    opacity: 0.05;

    font-family: Montserrat;
    font-size: 240px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0em;

    font-variation-settings: "opsz" auto;
    background: linear-gradient(88deg, #6e66fa 0%, #e7b5ff 102%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .home2Case {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-content-wrapper {
    width: 377px;
    height: 517px;
    border-radius: 12px;
    opacity: 1;

    background: linear-gradient(180deg, #100f2e 0%, #03041a 100%);

    box-sizing: border-box;
    border: 2px solid rgba(110, 102, 250, 0.08);

    backdrop-filter: blur(1000px);
  }
  .p1 {
    margin-top: 121px;
    font-size: 42px;
    font-weight: bold;
  }
  .p2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }
  .cardwrap {
    margin-top: 36px;
    width: 1042px;
    max-width: 100vw;
  }
  .card {
    width: 480px;
    height: 160px;
    border-radius: 16px;
    opacity: 1;

    background: #0a0b2c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    gap: 13px;
    box-sizing: border-box;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
@media screen and (max-width: 768px) {
  .homePage3 {
    .cardwrap {
      max-width: 100vw;
      flex-wrap: wrap;
      position: relative;
      .card {
        width: 90vw;
        margin: 0 auto;
      }
    }
  }
}
