.hayPopup {
  &.pair {
    .ant-modal-content {
      padding: 0;
      border-radius: 4px;
    }
  }
  .ant-modal-content {
    padding: 28px 25px;
    border: 2px solid #6e66fa;
  }
  .ant-modal-title {
    font-size: 16.97px;
    font-weight: bold;
  }
}
.ant-modal {
  top: 252px;
}

@media screen and (max-width: 768px) {
  .ant-modal {
    top: 100px;
  }
}
